{% extends 'shared/layout.html' %}

{% block styles %}
{% endblock %}


{% block scripts %}
{% endblock %}


{% block body %}
  <nav class="mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('note.index', note_type_id=note.note_type_id) }}">
          {{ note_type_name }}
        </a>
      </li>
      <li class="breadcrumb-item active">Заметка</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-6">

      <div class="d-flex justify-content-between align-items-end">
        <span>
          Создана: {{ note.create_date }} Изменена: {{ note.modify_date }}
        </span>
        <form action="{{ url_for('.delete') }}" method=post>
          <input type="hidden" name="id" value="{{ note.id }}">
          <button class="btn btn-danger btn-sm">
              Удалить
          </button>
        </form>
      </div>
      
      <div class="mt-1">
        <form action="{{ url_for('.save') }}" method=post>
          <input type="hidden" name="id" value="{{ note.id }}">
          <textarea class="form-control" name="text" rows=6>{{ note.text }}</textarea>
          <div class="input-group mt-1">
            <select class="form-select" name="note_type_id">
              {% for note_type in note_types %}
                <option value="{{ note_type.id }}"
                        {% if note.note_type_id == note_type.id %} selected {% endif %}>
                  {{ note_type.name }}
                </option>
              {% endfor %}
            </select>
            
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>

      <div class="mt-1">
        <form action="{{ url_for('.hide') }}" method=post>
          <input type="hidden" name="id" value="{{ note.id }}">
          <button type="submit" class="btn btn-primary">
            {% if note.hidden %}
              Показать
            {% else %}
              Скрыть
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
