{% set menu =
  [
    {
      'name': 'Заметки',
      'active': True,
      'url': url_for('note.index')
    },
    {
      'name': 'ДР',
      'active': False,
      'url': url_for('birthday.index')
    }
  ]
%}

{% extends 'shared/layout.html' %}

{% block styles %}
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='node-list.js') }}"></script>
{% endblock %}


{% block body %}
  <input id="focusId" type="hidden" value="note{{ focus_note_id }}" />

  <nav class="nav nav-pills">
    {% for note_type in note_types %}
      <a class="nav-link {% if note_type_id == note_type.id %} active {% endif %}"
         href="{{ url_for('.index', note_type_id=note_type.id) }}">
          {{ note_type.name }}
      </a>
    {% endfor %}

    <a class="nav-link" href="{{ url_for('note_type.index') }}">...</a>
  </nav>

  <div class="row mt-2">
    <div class="col-md-6">

      <div class="d-flex">
        <nav class="ms-auto">
          <div class="pagination pagination-sm">
            {% if hidden %}
              <div class="page-item">
                <a class="page-link" href="{{ url_for('.index', note_type_id=note_type_id) }}">
                  Открытые
                </a>
              </div>
              <div class="page-item disabled">
                <a class="page-link">Закрытые</a>
              </div>
            {% else %}
              <div class="page-item disabled">
                <a class="page-link">Открытые</a>
              </div>
              <div class="page-item">
                <a class="page-link" href="{{ url_for('.index', note_type_id=note_type_id, hidden=True) }}">
                  Закрытые
                </a>
              </div>
            {% endif %}
          </div>
        </nav>
      </div>

      <div class="list-group mt-1">
        {% for note in notes %}
          <a id="note{{ note.id }}" class="list-group-item list-group-item-action"
             href="{{ url_for('.edit', id=note.id) }}">
            {% if hidden %}
              <span><s>{{ note.text }}</s></span>
            {% else %}
              <span>{{ note.text }}</span>
            {% endif %}
            <small class="lh-1 text-muted position-absolute top-0 end-0 bg-light rounded px-1">{{ note.date }}</small>
          </a>
        {% endfor %}
      </div>

      <div class="mt-2">
        <form action="{{ url_for('.save') }}" method=post>
          <input type="hidden" name="note_type_id" value="{{ note_type_id }}">
          <textarea class="form-control" name="text"
                    placeholder="Новая заметка"></textarea>
          <div class="d-grid mt-1">
            <button class="btn btn-primary" type="submit">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
