{% extends 'shared/layout.html' %}

{% block styles %}
{% endblock %}


{% block scripts %}
{% endblock %}


{% block body %}
  <div class="nav nav-pills">
    {% for note_type in note_types %}
      <a class="nav-link {% if note_type_id == note_type.id %} active {% endif %}"
         href="{{ url_for('.index', note_type_id=note_type.id) }}">
          {{ note_type.name }}
      </a>
    {% endfor %}

    <a class="nav-link" href="{{ url_for('note_type.index') }}">...</a>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <div class="list-group">
        {% for note in notes %}
          <a class="list-group-item list-group-item-action"
             href="{{ url_for('.edit', id=note.id) }}">
            <span>{{ note.text }}</span>
            <small class="lh-1 text-muted position-absolute top-0 end-0 bg-light rounded px-1">{{ note.date }}</small>
          </a>
        {% endfor %}
      </div>

      <div class="mt-2">
        <form action="{{ url_for('.save') }}" method=post>
          <input type="hidden" name="note_type_id" value="{{ note_type_id }}">
          <textarea class="form-control" name="text"
                    placeholder="Новая заметка"></textarea>
          <div class="d-grid mt-1">
            <button class="btn btn-primary" type="submit">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
