<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Заметки</title>

    <link rel="shortcut icon" type=image/png href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    {% block styles %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('note.index') }}">BadNote</a>
        {% if g.user_context.login %}
          <div class="navbar-text ms-auto mr-2">{{ g.user_context.login }}</div>
          <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
          </div>
        {% endif %}
      </div>
    </nav>

    <div class="container mt-2">
      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}

      {% block body %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}

  </body>
</html>